<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Index</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/missao" class="nav-link">Missao</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/contato" class="nav-link">Contato</a>
                </li>
            </ul>

        </nav>
    </header>