<%- include('./partials/head') %>
<%- include('./partials/header') %>

<br><br>
<article class="container">
    <h1>Contato</h1>

    <form action="/contato/add" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="enter email" id="email">
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <input type="text-area" class="form-control" name="mensagem" placeholder="digite sua mensagem" id="mensagem">
        </div>
        <input type="submit" name="submit" value="registrar">
    </form>
    
</article>


<br><br>

<%- include('./partials/footer') %>