<%- include('./partials/head') %>
<%- include('./partials/header') %>

<br><br>
<article class="container">
  <h1>Index!!</h1>

  <section>
    <p>Está é uma página inicial... onde devem ser postas informação iniciais sobre <em>todo do conteúdo da página</em></p>
    <p >
      Aqui eu posso escrever sobre os mais variados temas de, é claro, de forma que eu
      resuma todo este site em poucas palavras... pra não cansar o amigo que decidiu 
      vistar...
    </p>
    <p>Bem é isso o que quero escrever nessa parte. não preciso de mais! :)</p>
  </section>
</article>

<br><br>

<%- include('./partials/footer') %>