<%- include('./partials/head') %>
<%- include('./partials/header') %>

<br><br>
<article class="container">
  <h1>Missão!!</h1><br>

  <section>
    <p>
        Eu entendo a missão como o norte o qual uma organização busca atingir.
        Como se considerassemos dois pontos em lugares aleatórios em um plano.
        um ponto representaria a organização e o ponto é a missão. A empressa vai ter que
        descobrir uma forma de percorrer essa distância até o ponto da forma mais reta
        possível.
    </p>
    <p>
        Então missão é um guia pras a ações da empresa! quanto mais aliadas as ações com 
        a missão, tanto mais próximo a organização está da missão a cada passo.
    </p>
  </section>
</article>

<br><br>

<%- include('./partials/footer') %>